body {
	padding-top: 70px;
	background-color: #FFFFFF;
}

#main {
	width: 50%;
	margin: 0 auto;
	padding: 0;
}

.sub_form {
	width: 100%;
}

.datefield {
	display: inline;
	padding: 0.3em;
	border: inset 1px #CCC;
	background: #FFF;
	border-radius: 4px;
	color: #666;
	width: 100%;
}

.datefield * {
	display: inline-block;
}

.datefield input {
	width: 2.7em;
	padding: 0 0.4em;
	border: none;
	font-size: 100%;
	background: none;
	color: #000;
}

.datefield input#year {
	width: 3.5em;
}
.datefield input:focus {
	outline: none;
}

.validasi {
	width: 90%;
	padding: 10px ;
	border: 1px solid;
	border-radius: 10px;
	min-height: 500px;
	box-shadow: 10px 10px 5px #882020;
}

.baris {
	font-size: 1.4em;
}
